#background-video {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    /* -webkit-filter: grayscale(100%);  */
    /* filter: grayscale(100%); */

    /* -webkit-filter: blur(5px);  */
    /* filter: blur(5px); */

}

.splash-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: white;
}

.background-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.splash-content h1 {
    font-size: 12vw;
    font-weight: bold;
}

.splash-content button {
    background: linear-gradient(262deg, #ff7854, #fd267d);
    padding: .5vw 4vw;
    border-radius: 50px;
    cursor: pointer;
}



.splash-content h4{
    text-align: center;
    width: 60%;
    font-size: 14px;
    font-weight: lighter;
    margin-top: .1vw;
    /* text-shadow: 2px 2px black; */
}

/* .main {
    overflow-x: hidden;
    overflow-y: hidden;
} */

