/* 
.gather {
    width: 100vw;
    height: 100vh;
} */

.swipe {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.swipe-aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 480px;
    height: 100%;
}


.swipe-aside-nav {
    display: flex;
    flex-basis: 62.742px;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 8vh;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    overflow: scroll;
    min-height: 64px;
}

.navOpen {
    width: 250px;
}

.navClosed {
    width: 0px;
}

.welcome-swipe {
    font-size: 0.8rem;
    width: 100%;
    font-weight: bolder;
}
.welcome-swipe div:first-child{
    margin-bottom: 3px;;
}
.welcome-swipe > div > svg, .welcome-swipe > div > span {
    margin-right: 1rem;
}

.swipe-logout svg {
    font-size: 1.4rem;
    margin-top: 1.2rem;
}

.swipe-main {
    display: flex;
    width: 70%;
    height: 100vh;
}

.swipe-footer {
    height: 10vh;
    min-height: 82px;
}

.swipe-body {
    height: 82vh;
    overflow: scroll;
}

.caroussel {
    flex-basis: calc(100vh/4);
    background-color: white;
    margin-bottom: 2rem;
    height: 25vh;
}

.business-info {
    flex-grow: 1;
    background-color: white;
}

.logout-container {
    display: flex;
    font-weight: bolder;
    margin-right: 1vw;
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 350px;
    background-color: white;
    z-index: 11;
    box-sizing: border-box;
    padding: 2vw;
    color: black;
    margin-left: -350px;
    transition: margin 200ms ease-in-out;
}

.side-menu.nav-open {
    margin-left: 0;
    box-shadow: 1px 1px 3px grey;
}

.nav-toggle {
    position: absolute;
    right: -65px;
    top: 0;
    width: 65px;
    height: 65px;
    background-color: white;
    color: black;
    line-height: 65px;
    text-decoration: none;
    text-align: center;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 0 3px grey;
}

.nav-toggle:before {
    content: "\2192";
    font-weight: 600;
    color: black;
    font-size: 1.8rem;
}

.side-menu.nav-open .nav-toggle:before {
    content: "\2190";
}

.nav-logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 2vw;
}

.swipe-finish-vote {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.swipe-finish-vote .swipe-finish-vote-container {
    color: white;
}

.swipe-finish-vote-container{
    /* border: 1px solid #ff7854; */
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border-radius: 5px;
    padding: 1rem;
}

.swipe-finish-vote-span{
    margin-left: 1rem;
}

.swipe-finish-vote-msg {
    margin-top: 0.7rem;
    font-size: 1rem;
    color: #fd267d;
}


@media only screen and (max-width: 1000px) {
    .swipe-main {
        width: 50%;
    }
    
    .swipe-aside {
        width: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .swipe-main {
        width: 0%;
        display: none;
    }

    .swipe-aside {
        width: 100%;
    }

    .swipe-aside-nav, .swipe-body, .swipe-footer {
        width: 100vw;
    }
    
/* 
    .like-or-dislike-container {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    }

    .swipe-aside-nav {
    flex-basis: 60px;
    }

    .welcome-swipe {
        font-size: 1.5em;
    }

    .nav-logo {
       font-size: 1.5em;
        margin-left: 4vw;
    }
    
    .logout-logo {
        font-size: .75em;
        margin-right: 4vw;
    } */
}