/* 
.gather {
    width: 100vw;
    height: 100vh;
} */

.swipe {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.swipe-aside{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: space-between;
}

.swipe-aside-nav {
    display: flex;
    flex-basis: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(262deg, #ff7854, #fd267d);
}

.swipe-main {
    display: flex;
    width: 60%;
    height: 100vh;
}

.caroussel {
    flex-basis: calc(100vh/4);
    background-color: white;
    margin-bottom: 2rem;
}

.business-info {
    flex-grow: 1;
    background-color: white;
}

.logout-container {
    display: flex;
    font-weight: bolder;
    margin-right: 2vw;
}

.likes {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 2rem;
    height: auto;
}

.like-or-dislike {
    flex: 0 0 80px;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.like-or-dislike-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: auto;
}

.like {
    display: flex;
    justify-content: center;
    width: 46%;
    cursor: pointer;
    border: 1px solid white;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0 10px;
}

.dislike {
    display: flex;
    justify-content: center;
    width: 46%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 10px;
}

.nav-logo {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 2vw;
}

.welcome-swipe {
    font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
    .swipe-main {
        width: 50%;
    }
    
    .swipe-aside {
        width: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .swipe-main {
        width: 0%;
        display: none;
    }

    .swipe-aside {
        width: 100%;
    }

    .like-or-dislike-container {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    }

    .swipe-aside-nav {
    flex-basis: 60px;
    }

    .welcome-swipe {
        font-size: 1.5em;
    }

    .nav-logo {
       font-size: 1.5em;
        margin-left: 4vw;
    }
    
    .logout-logo {
        font-size: .75em;
        margin-right: 4vw;
    }
}