.biz-info, .biz-info-container {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;     
}

.biz-info {
    padding: 1rem;
}

.biz-info-container{
    flex-direction: column;
}

.biz-name {
    font-weight: bolder;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.biz-ratings-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.biz-rating {
    margin-right: 1rem;
}

.biz-review-count {
    font-size: 0.9rem;
    color: #999;
    display: flex;
    align-items: flex-end;
}

.biz-price-categories-container {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #999;
}

.biz-price-categories-container span {
    margin-right: 0.5rem;
    margin-left: 0.5rem;   
}

.biz-categories {
    display: flex;
    flex-direction: row;
}

.biz-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
}

.biz-details{
    display: flex;
    flex-direction: row;
    border: solid #999;
    border-width:1px 0px 1px 0px; 
    padding: 0.5rem 0;
    margin: 1rem 0;
    justify-content: space-between;
}

.biz-phone-yelp {
    font-size: 0.9rem;
}
.biz-phone-yelp svg{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}
.biz-phone-container {
    display: flex;
    flex-direction: row;
}

.biz-phone-icon {
    padding: 0 1rem 0 0.3rem;
}

.biz-yelp-container {
    display: flex;
    flex-direction: row;
}

.biz-yelp-icon {
    padding: 0 1rem 0 0.3rem;
}

.biz-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 3px; */
}


.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
/* 
@media only screen and (max-width: 700px) {

    .biz-name {
    font-weight: bold;
    font-size: 1.8em;
    padding: 0 0.45em 0 0.45em;
}

} */
