/* Create Group Section */
.create-group-form {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    border-top: solid black 1px;
    box-shadow: 0px 0px 3px 0px grey;
    z-index: 1;
}

.create-group-form form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-group-form form > div {
    width: 100%;
}

.groupname, .groupname-container, .groupname-container input, .add-users, .add-users-container {
    width: 100%;
}

.groupname-container > label, .add-users-container > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.groupname-container .inputicon{
    position: absolute;
    left: 14px;
    top: 41px;
}

.groupname-container > label > span, .add-users-container > label > span {
    margin-bottom: 3px;
}

.groupname-container > label > div:last-child, .add-users-container > label > div:last-child {
    /* position: relative; */
    width: 100%;
    display: flex;
}

/* Users */
.add-users {

}

.add-users-container {
}

.add-users-container .inputicon {
    top: 12px;
    position: absolute;
    left: 14px;
}

.add-users-form{
    position: relative;
    width: 100%;
}

.auto-complete-users{
    position: absolute;
    background-color: rgb(246, 247, 250);
    top: 40px;
    width: 100%;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    line-height: 21px;
    z-index: 10;
    left: 0px;
}

.auto-complete-users-container{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,.10);
    padding-left: 35px !important;
    display: flex;
    flex-direction: column;
}

.auto-complete-users-container div {
    display: flex;
    align-items: center;
    padding: 0 0.8rem 0.8rem 0.8rem;
    margin-top: 10px;
}

.auto-complete-users-container div:hover {
    font-weight: bold;
    text-decoration: underline;
}

.auto-complete-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.auto-complete-user span:last-child{
    font-weight: bolder;
    margin-left: 0.5rem;
}

.auto-complete-user img{
    width: 20px;
    height: 20px;
    margin-right: 0.7rem;
}

.added-users{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    overflow: scroll;
    justify-content: flex-start;
    align-items: flex-start;
}

.added-user{
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 8px;
    color: #545454;
    cursor: pointer;
    display: flex;
    margin-top: 5px;
    margin-right: 4px;
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #f6f7fa;
    caret-color: #40acf8;
    border-width: 1px;
}

.added-user > img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 5px;
}

.added-user > span {
    margin-left: 0.5rem;
}

.add-users > span:last-child {
    cursor: pointer;
}

.submit-container{
    margin-bottom: 0.5rem;
}

.create-group-form-row {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
}

.create-group-form-row > div {

}

.endtime{
    flex: 0 1 45%;
}

.endtime-container{
    padding-right: 1rem;
}

.endtime label {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.endtime-input-field{
    background-color: #f6f7fa;
    caret-color: #40acf8;
    margin-bottom: 20px;
    margin-top: 8px;
    border-radius: 8px;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    padding-left: 0;
    padding: 10px;
}

.home-nav-content .monetary-restriction{
    margin-right: 3rem;
}
/* 
.input-field-container{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
     width: 100%;
    margin-bottom: 10px;
    display: flex;
} */
