.home-nav-bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 30%;
    align-items: center;
    min-width: 580px;
}

.home-nav-bar-container {
    background-color: #f5f7fa;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.get-started-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-started-explanation{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.get-started-explanation span {
    text-align: center;
}

.home-nav-content .get-started-bar {
    height: 3px;
    width: 35%;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    z-index: 5;
    margin: 2%;
}

.home-nav-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    justify-content: space-between;
    align-items: center;
    flex: 1 1 62.742px;
}

.home-nav-content-top {
    width: 90%;
}

.home-nav-content-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 0 62.742px;
}

.logout-button {
    padding: 1.5% 40%;
    background-color: white;
    color: black;
    margin: 2%;
    border-radius: 50px;
    border: black 1px solid;
    cursor: pointer;
}

.home-nav-bar h2, .home-nav-bar h3{
    padding-top: 2%;
    margin-bottom: 0;
    margin-top: 1.5%;
}

.home-button-container {
    display: flex;
    width: 100%;
    
}

.home-button-container button {
    flex-grow: 1;
    background-color: lightgrey;
    padding: 1% 14.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: black 1px solid;
    border-bottom: none;
    cursor: pointer;
    white-space: nowrap;
    top: 2px;
    position: relative;
}

#selected-button {
    flex-grow: 1;
   background-color: white;
   z-index: 2;
   top: 1px;
   position: relative;
}

.optional-divider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 3%;
}

.optional-divider div {
    margin-bottom: 0;
}

.optional-divider h2 {
    padding: 0 2%;
    margin-top: 0;

}

.endtime-container label, .is-split-container {
    display: flex;
    flex-direction: column;
}

.is-split-container label:first-child{
    margin-bottom: 0.4rem;
}

.is-split-explanation {
    font-size: 0.8rem;
    /* font-style: italic; */
    color: #fd267d;
}
/* Slider */

.switch {
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 30px;
    transition: .5s;
}

.slider:before {
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 20px;
    content: "";
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    transition: .2s;
}

.is-split input:checked + .slider {
    background-color: #ff3f3f;
}

.is-split input:checked + .slider:before {
    transform: translateX(20px);
}



.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.create-group-form .submit-button {
    align-self: center;
    padding: 1.6% 4%;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    color: white;
    margin: 1%;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2%;
}

.drop-down{
    vertical-align: top;
    position: relative;
    display: inline-block;
}

/* Map Section */

.home-map-container,.home-map-section {
    display: flex;
    height: 100%;
    width: 100%;
}

.home-map {
    display: flex;
    width: 100%;
}



/* this one needs to be fixed
@media only screen and (max-width: 800px) {
    .home-nav-bar {
        width: 100vw;
        font-size: .9em;
        min-width: 100vw;
    }

    iframe{
        display: none;
    }

    h3 {
        display: none;
    }

    .home-button-container button {
        padding: 1% 6%;
        margin-top: 3%;
    }

    .get-started-container div{
        display: none;
    }

    .groupname-container input {
        width: 90%;
    }
}

*/