.home-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 13vh;;
    width: 90%;
}

.home-search-section-title{
    margin-bottom: 0.3rem;
}

.home-search-section-title span:first-child {
    margin-right: 0.5rem;
}

.home-search-section h1 {
    left: .2%;
    font-size: 2rem;
    margin-left: 2%;
    margin-right: .5%;
    color: white;
}
.home-search-section h1 > img{
    height: 3.5rem;
    width: 3.5rem;
}

.home-search-bar {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.home-search-bar-container{
    flex: 1 0;
    border-radius: 5px;
    height: 100%;
    align-self: center;
    background: white;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-self: center;
}

.home-search-bar input {
    width: 95%;   
    margin-left: 0.8rem; 
    font-size: 0.9rem;
}

.home-search-icon {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 0 0.5rem;
    margin-left: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3) ;
    cursor: pointer;
}

.home-search-icon:hover {
    background-color: rgba(255, 255, 255, 0.842);
    color: white;
}

.auto-complete-options{
    position: absolute;
    background-color: white;
    top: 40px;
    width: 100%;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    line-height: 21px;
    z-index: 10;
    left: 0px;
}

.auto-complete-options-container{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,.10);
}

.auto-complete-options-container li {
    display: flex;
    align-items: center;
    padding: 0 0.8rem 0.8rem 0.8rem;
    margin-top: 10px;
}

.auto-complete-options-container li:hover {
    font-weight: bold;
    text-decoration: underline;
}


.home-search-selected-restaurants{
    font-size: 0.9rem;
    color: #999;
}

.home-search-numbiz{
    font-weight: bolder;
    color: #fd267d;
    margin-right: 0.3rem;
}

.home-search-curNH{
    font-weight: bolder;
    color: #fd267d;
    margin-left: 0.3rem;
}