.home-search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8% 0;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    width: 100%;
}

.home-search-section h1 {
    left: .2%;
    font-size: 2rem;
    margin-left: 2%;
    margin-right: .5%;
    color: white;
}

.home-search-bar{
    flex: 1 0;
    padding: 1.6% 6px;
    border-radius: 5px;
    margin: 1%;
    align-self: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    background: white;
    position: relative;
}

.home-search-bar input {
    width: 95%;   
    margin-left: 0.8rem; 
    font-size: 0.9rem;
}

.home-search-icon {
    padding: 1.6%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #fd5068;
    margin-right: 1rem;
    cursor: pointer;
}

.home-search-icon:hover {
    background-color: rgba(255, 255, 255, 0.842);
    color: white;
}

.auto-complete-options{
    position: absolute;
    background-color: white;
    top: 40px;
    width: 100%;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    line-height: 21px;
    z-index: 10;
    left: 0px;
}

.auto-complete-options-container{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,.10);
}

.auto-complete-options-container li {
    display: flex;
    align-items: center;
    padding: 0 0.8rem 0.8rem 0.8rem;
    margin-top: 10px;
}

.auto-complete-options-container li:hover {
    font-weight: bold;
    text-decoration: underline;
}