.join-group-content-items-expand{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 1rem 0;
}

.join-group-content-items-expand-container{
    width: 100%;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    /* z-index: 2; */
    border: 1px solid black;
}

.join-group-content-items-expand-item {
    width: 20%;
}