.header-container {
    position: absolute;
    z-index: 5;
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1vw;
}

.header-logo {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 30px;
    margin-left: 5%;
}

.header-logo h1 {
    padding-top: 5px;
    margin-right: 5px
}

.header-container button {
    background-color: white;
    color: #fd5068;
    padding: .5vw 1.5vw;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4vw;
}

.header-container button:hover {
    background: linear-gradient(262deg, #ff7854, #fd267d);
    color: white;
}

.signup h1{
    color: teal;
}

.signup h2{
    color: black;
}

.signup {
    border-bottom: 1px solid gray;
}

.signup button {
    border: grey solid 1px;
}

@media only screen and (max-width: 700px) {
    .header-container {
        flex-direction: column;
        height: 100%;
        margin-right: 2%;
        padding: 0;
    }

    .header-container button {
        position: absolute;
        top: 73%;
        padding: .5% 36%;
        border-radius: 50px;
        font-size: 1.5em;
    }
}

.register .header-container {
    position: relative;
    z-index: none;
    display: flex;
    color: black;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1vw;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.register .header-logo {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 30px;
    margin-left: 5%;
}

.register .header-logo h1 {
    padding-top: 5px;
    margin-right: 5px;
}


.register .header-container button {
    display: none;
}
